.upload_form
    form(role='form', action='/upload', method='post', encType='multipart/form-data', style='max-width: 300px;')
        label(class='btn btn-block btn-default') Choose Video
            input(type='file', name='video', id='video', style='display: none;')
        br
        button.btn.btn-success(type='submit') Upload
