extends layout

block content
    .container
    center
        h1 Login 
        include widgets/login_form
        br
        button.btn.btn-link(type="button", onclick='window.history.back()') Cancel
